[Desktop Entry]
Encoding=UTF-8
Name=Cellscoin
Comment=Cellscoin P2P Cryptocurrency
Comment[fr]=Cellscoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cellscoin, eşten eşe kriptografik sanal para birimi
Exec=cellscoin-qt %u
Terminal=false
Type=Application
Icon=cellscoin128
MimeType=x-scheme-handler/cellscoin;
Categories=Office;Finance;
